div.bcode{
 border-left: 1px black solid ;
 height: 30px;
 display: inline-block;
} 
div.order_id_text
{
	font-size: 8px;
	font-weight: bold;
}
.hide
{
	display: none;
}
.show
{
	display: block;
}
.column-4
{
	width:24% !important;
	display: inline-block;
}

.get-pro
{
  background-color:#ffcc00;
  padding: 1px 5px;
  color:hsl(0, 100%, 50%);
  font-weight: bold;
}
.stdi-rate
{
  font-size:16px;
  color:#ffcc00;
}